
body{
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#888;
}



/* Color Plate */
.color-plate {
	position: fixed;
	display: block;
	z-index: 99998;
	padding: 20px;
	width: 245px;
	background: #fff;
	right: -245px;
	text-align: left;
	top: 30%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	-webkit-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
	box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
}
.color-plate.active{
	right:0;
}
.color-plate .color-plate-icon {
	position: absolute;
	left: -48px;
	width: 48px;
	height: 45px;
	line-height: 45px;
	font-size: 21px;
	border-radius: 5px 0 0 5px;
	background: #48664D;
	text-align: center;
	color: #fff !important;
	top: 0;
	cursor: pointer;
	box-shadow: -4px 0px 5px #00000036;
}
.color-plate h4 {
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}
.color-plate p {
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 20px;
}
.color-plate span {
	width: 42px;
	height: 35px;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;
}
.color-plate span:hover{
	cursor:pointer;
}
.color-plate span.color1{
	background:#48664D ;
}
.color-plate span.color2{
	background:#48664D ;
}
.color-plate span.color3{
	background:#32B87D;
}
.color-plate span.color4{
	background:#FE754A;
}
.color-plate span.color5{
	background:#F82F56;
}
.color-plate span.color6{
	background:#01B2B7;
}
.color-plate span.color7{
	background:#6c5ce7;
}
.color-plate span.color8{
	background:#85BA46;
}
.color-plate span.color9{
	background:#273c75;
}
.color-plate span.color10{
	background:#FD7272;
}
.color-plate span.color11{
	background:#badc58;
}
.color-plate span.color12{
	background:#44ce6f;
}
/* yesil #48664D 
/*=============================
	End Global CSS 
===============================*/

/*===================
	Start Header CSS 
=====================*/
.header .top-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.header .top-contact li {
    color: #2C2D3F;
}

.header .top-contact li a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.header .top-contact li a:hover {
    color: #48664D;
}

.header .top-contact li i {
    color: #48664D;
    margin-right: 8px;
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%;
}

.get-quote {
    margin-top: 12px;
}

.get-quote .btn {
    color: #fff;
    background-color: #48664D;
}

.header .logo {
    margin-top: 1px;
}

.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 0;
    min-height: 0;
}

.header .nav {
    display: flex;
    gap: 15px;
}

.header .nav li {
    position: relative;
}

.header .nav li a {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
}

.header .nav li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #48664D;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.header .nav li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav li.active a {
    color: #48664D;
}

.header .nav li:hover a:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav li:hover a {
    color: #48664D;
}

.header .nav li a i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}

.header.style2 .header-inner {
    border-top: 1px solid #eee;
}

.header.style2 .logo {
    margin-top: 6px;
}

.header .middle-header {
    background: #fff;
    padding: 20px 0;
}

.header .widget-main {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header.style2 .get-quote {
    margin-top: 0;
}

.header .single-widget {
    position: relative;
    padding-left: 55px;
}

.header .single-widget i {
    position: absolute;
    left: 0;
    top: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    background: #049f3f;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.header .single-widget h4 {
    font-size: 15px;
    font-weight: 500;
}

.header .single-widget p {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header.style2 .main-menu {
    display: flex;
}

.header .right-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .right-bar a {
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #48664D;
    border-radius: 4px;
    display: block;
    font-size: 12px;
}

.header .right-bar li a:hover {
    color: #fff;
    background: #27AE60;
}

.header .search-top.active .search i:before {
    content: "\eee1";
    font-size: 15px;
}


/* Header Sticky */
.header.sticky .header-inner{
	position:relative;
	z-index:999;
	top:0;
	left:0;
	bottom:initial;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	
	box-shadow:0px 0px 13px #00000054;
}
/*=========================
	End Header CSS
===========================*/

/*===========================
	Start Hero Area CSS
=============================*/
.slider .single-slider {
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	background-color: transparent; /* Eğer arka plan rengi gerekiyorsa */
}
.slider .single-slider .text{
	margin-top:120px;
	
}
.slider.index2 .single-slider .text{
	margin-top:150px;
}
.slider .single-slider h1 {
	color: white;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 42px;
}
.slider .single-slider h1 span{
	color:#48664D;
}
.slider .single-slider p {
	color: white;
	margin-top: 27px;
	font-weight: 600;
}
.slider .single-slider .button{
	margin-top:30px;
}
.slider .single-slider .btn{
	color:#fff;
	background:#48664D ;
	font-weight:500;
	display:inline-block;
	margin:0;
	margin-right:10px;
}
.slider .single-slider .btn:last-child{
	margin:0;
}
.slider .single-slider .btn.primary{
	background:#2C2D3F;
	color:#fff;
}
.slider .single-slider .btn.primary:before{
	background:#48664D;
}
.slider .owl-carousel .owl-nav {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top:-25px;
}


.hero-slider.owl-carousel.owl-theme.owl-loaded


{
	display: inline-block;
}
.slider .owl-carousel .owl-nav div {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: #48664D ;
	color: #fff;
	font-size: 26px;
	position: absolute;
	margin: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 0;
	border-radius: 50%;
}
.slider .owl-carousel .owl-nav div:hover{
	background:#2C2D3F;
	color:#fff;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:20px;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-next{
	right:20px;
}


.slider .single-slider:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	opacity:0.3;
}

/* Slider Animation */
.owl-item.active .single-slider h1{
    animation: fadeInUp 1s both 0.6s;
}
.owl-item.active .single-slider p{
    animation: fadeInUp 1s both 1s;
}
.owl-item.active .single-slider .button{
    animation: fadeInDown 1s both 1.5s;
}
/*===========================
	End Hero Area CSS
=============================*/

/*=============================
	Start Schedule CSS
===============================*/
.schedule {
	background: #fff;
	margin: auto;
	padding: 0;
	height: 230px;
}
.schedule .schedule-inner {
	position: relative;
	transform: translateY(-50%);
	z-index:9;
}
.schedule .single-schedule {
	position: relative;
	text-align: left;
	z-index:3;
	border-radius:5px;
	background:#48664D;
	 -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.schedule .single-schedule .inner {
	overflow:hidden;
	position: relative;
	padding:30px;
	z-index:2;
	height: 300px;
}
.schedule .single-schedule:before{
	position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background:#48664D;
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.schedule .single-schedule:hover:before{
	opacity: 0.8;
}
.schedule .single-schedule:hover{
	transform: translateY(-5px);
}
.schedule .single-schedule .icon i{
	position: absolute;
	font-size: 110px;
	color: #fff;
	 -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
	z-index:-1;
	visibility:visible;
	opacity:0.2;
	right: -25px;
	bottom: -30px;
}
.schedule .single-schedule span{
	display:block;
	color:#fff;
}
.schedule .single-schedule h4{
	font-size: 20px;
	font-weight:600;
	display:inline-block;
	text-transform:capitalize;
	color:#fff;
	margin-top:13px;
}
.schedule .single-schedule p{
	color:#fff;
	margin-top:22px;
}
.schedule .single-schedule a {
	color: #fff;
	margin-top: 25px;
	font-weight: 500;
	display: inline-block;
	position: relative;
}
.schedule .single-schedule a:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:1px;
	width:0%;
	background:#fff;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.schedule .single-schedule a:hover:before{
	width:100%;
	width:100%;
}
.schedule .single-schedule a i{
	margin-left:10px;
}
.schedule .single-schedule .time-sidual{
	
}
.schedule .single-schedule .time-sidual{
	overflow:hidden;
	margin-top:17px;
}
.schedule .single-schedule .time-sidual li {
	display: block;
	color: #fff;
	width: 100%;
	margin-bottom:3px;
}
.schedule .single-schedule .time-sidual li:last-child{
	margin:0;
}
.schedule .single-schedule .time-sidual li span{
	display:inline-block;
	float:right;
}
.schedule .single-schedule .day-head .time {
	font-weight: 400;
	float: right;
}
/*=============================
	End Schedule CSS
===============================*/

/*=============================
	Start Feautes CSS
===============================*/
.Feautes{
	padding-top:0;
}
.Feautes.index2{
	padding-top:100px;
}
.Feautes.testimonial-page{
	padding-top:100px;
}
.Feautes .single-features{
	text-align:center;
	position:relative;
	padding:10px 20px;
}
.Feautes .single-features::before {
	position: absolute;
	content: "";
	right: -72px;
	top: 60px;
	width: 118px;
	border-bottom: 3px dotted #48664D;
}
.Feautes .single-features.last::before{
	display:none;
}
.Feautes .single-features .signle-icon{
	position:relative;
}
.Feautes .single-features .signle-icon i{
	font-size:50px;
	color:#48664D;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:0;
	height:100px;
	width:100px;
	line-height:100px;
	text-align:center;
	border:1px solid #dddddd;
	border-radius:100%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.Feautes .single-features:hover .signle-icon i{
	background:#48664D;
	color:#fff;
	border-color:transparent;
}
.Feautes .single-features h3{
	padding-top: 128px;
	color:#2C2D3F;
	font-weight:600;
	font-size:21px;
}
.Feautes .single-features p {
	margin-top: 20px;
}
/*=============================
	End Feautes CSS
===============================*/



/*===================
	Why choose CSS
=====================*/
.why-choose .choose-left h3{
	font-size:24px;
	font-weight:600;
	color:#2C2D3F;
	position:relative;
	padding-bottom:20px;
	margin-bottom:24px;
}
.why-choose .choose-left h3:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:50px;
	background:#48664D;
}
.why-choose .choose-left p{
	margin-bottom:35px;
}
.why-choose .choose-left .list{}
.why-choose .choose-left .list li {
	color: #868686;
	margin-bottom: 12px;
}
.why-choose .choose-left .list li:last-child{
	margin-bottom:0px;
}
.why-choose .choose-left .list li i{
	height:15px;
	width:15px;
	line-height:15px;
	text-align:center;
	background: #049f3f;
	color:#fff;
	font-size:14px;
	border-radius:100%;
	padding-left:2px;
	margin-right:16px;
}
/* Start Faq CSS */
.why-choose{
	background:#fff;
}
.why-choose .choose-right{
	height:80%;
	width:100%;
	background-image:url('img/bilgenvideo.mov');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	margin-left: 150px;
	
}

video{
	height: 400px;
	margin-left: "-60px";
}
.why-choose .choose-right .video {
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -35px;
	font-size: 21px;
	background: #48664D;
	padding-left: 4px;
}


	
@media only screen and (max-width: 450px) {
	
	video{
		margin-left: -70px;
		height: 300px;
	}
}

/*=======================
	End Why choose CSS
=========================*/








/*=========================
	Start About Us CSS
===========================*/
.about-area {
  position: relative;
  z-index: 1;
}
.about-image {
  width: 100%;
  height: 100%;
  background-image: url(img/about-img.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-image img {
  display: none;
}
.about-content {
  max-width: 555px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
}
.about-content span {
  display: block;
  margin-bottom: 5px;
  color: #48664D;
  font-size: 17px;
}
.about-content h2 {
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 40px;
  font-weight: 600;
}
.about-content p {
  margin-top: 10px;
  margin-bottom: 0;
}
.about-content ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
}
.about-content ul li {
  margin-bottom: 16px;
  position: relative;
  padding-left: 34px;
}
.about-content ul li i {
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 100%;
	background-color: #48664D2B;
	color: #48664D;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	display: inline-block;
	font-size: 11px;
	position: absolute;
	left: 0;
	top: -2px;
}
.about-content ul li:hover i {
  background-color: #48664D;
  color: #ffffff;
}
.about-content ul li:last-child {
  margin-bottom: 0;
}
.about-content .btn {
  margin-top: 30px;
}


/* Product Card */
.card {
    border: none;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
}

.card-body {
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 20px;
    background-color: #48664D;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease;
    border: none;
}

.btn:hover {
    background-color: #537759;
}

/* Mobil için ürün kartlarını küçültme */
@media (max-width: 767px) {
    .card {
        width: 90%; /* Kartların genişliğini %100 yap */
        margin-bottom: 20px; /* Kartlar arasında daha fazla boşluk bırak */
        height: 200px;
    }

    .card img {
        height: 200px; /* Görsellerin boyutlarını küçült */
        object-fit: contain;
        margin: auto;
    }

    .card-title {
        font-size: 1.2rem; /* Başlık boyutunu küçült */
    }

    .card-text {
        font-size: 0.9rem; /* Metin boyutunu küçült */
    }

    .btn {
        padding: 10px 15px; /* Buton boyutlarını küçült */
        font-size: 0.9rem; /* Buton yazı boyutunu küçült */
    }
}


@media only screen and (max-width: 450px) {
	
    .card img {
        height: 150px; /* Görsellerin boyutlarını küçült */
        object-fit: contain;
        margin: auto;
    }

	.card {
		height: 200px;
	}
}



/* Genel resim kapsayıcı stili */
.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.image-container-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

/* Tablet için responsive düzenleme */
@media (max-width: 991px) {
    .image-container-img {
        max-width: 80%;
    }
}

/* Mobil için responsive düzenleme */
@media (max-width: 767px) {
    .image-container-img {
        max-width: 90%;
    }

    .carousel-caption .slider-btn {
        font-size: 0.8rem;  /* Daha küçük yazı */
        padding: 8px 10px;
    }

    .carousel-caption .slider-btn {
        visibility: visible !important;
    }
    
}



/* Footer Styling */
.footer_section {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px 0;
  }
  
  .footer_section a {
	color: #f9f9f9;
	text-decoration: none;
	margin: 0 10px;
  }
  
  .footer_section a:hover {
	text-decoration: underline;
  }
  
  /* Responsive Styling */
  
  /* For screens 450px and below */
  @media only screen and (max-width: 450px) {
	.footer_section {
	  padding: 10px 0;
	}
  
	.footer_section p {
	  font-size: 12px;
	  margin: 10px 0;
	}
  
	.footer_section a {
	  font-size: 12px;
	  display: block;
	  margin: 5px 0;
	}
  }
  
  /* For screens 450px to 767px */
  @media only screen and (max-width: 767px) {
	.footer_section {
	  padding: 15px 0;
	}
  
	.footer_section p {
	  font-size: 14px;
	}
  
	.footer_section a {
	  font-size: 14px;
	  margin: 0 8px;
	}
  }
  
  /* For screens between 768px and 991px */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.footer_section {
	  padding: 18px 0;
	}
  
	.footer_section p {
	  font-size: 16px;
	}
  
	.footer_section a {
	  font-size: 16px;
	  margin: 0 15px;
	}
  }
  

  .section {
	padding: 0px;
  }